* {
    box-sizing: border-box;
  
  }

#myMain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.myRed {
    background-color: rgb(236, 165, 165);
    color: brown;
    border-radius: 5px;
}

#newsBar{
    display: flex;
    padding: 0.5%;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

#rndInt{
    background-color: rgb(151, 5, 5);
    color: rgb(241, 239, 239);
    border-radius: 5px;
    margin: 1%;
    padding-left: 2%;
    padding-right: 2%;

}

#intGen{
    display: block;
    margin: auto;
}

.myBtn{
    font-size:24px;
    color:red
}



#bigNewsBar p{
    background-color: rgb(35, 1, 1);
    color:white;
    border-radius: 5px;
}


#bigNewsBar div{
    background-color: rgb(215, 95, 95);
    color:rgb(94, 5, 5);
    border-radius: 5px;
}