* {
  color: rgb(1, 1, 69);
  background-color: white;
}

h1 {
  color: rgb(125, 24, 46);
  background-color: rgb(216, 230, 91);
}

h2 {
  color: rgb(5, 54, 122);
}

p {
  color: rgb(3, 60, 62);
}

#box1 {
  width: 95.2%;
  height: 21.4%;
  margin: 1.775%;
  background-color: rgb(205, 131, 240);
  display: inline-block;

}
html, body {
  height: 100%;
  width: 100%;
  margin: 2px auto;
  padding: 0;
}

#box2 {
  width: 95.2%;
  height: 10.7%;
  background-color: rgb(205, 131, 240);
  margin: 1.775%;
  display: -block;
  display: inline-block;

}

#empty {
  width: 100%;
  background-color: white;
  height: 1px;

}

#box3 {
  width: 17.8%;
  height: 10.7%;
  background-color: rgb(205, 131, 240);
  margin: 1.775%;
  float: left;
  position: sticky;
  top:10%;

}

#box4 {
  width: 55.3%;
  height: 37.5%;
  background-color: rgb(205, 131, 240);
  display: inline-block;
  position: relative;
  top: -6.2%;
  left: 0%;
}

#box5 {
  width: 17.8%;
  height: 25.1%;
  background-color: rgb(205, 131, 240);
  margin: 1.775%;
  display: inline-block;
  position: relative;
  top: -33.0%;
}

#box6 {
  position: relative;
  top: -0.0%;
  width: 17.8%;
  height: 36.5%;
  background-color: rgb(205, 131, 240);
  display: inline-block;
  margin: 1.775%;

}

#footer {
  width: 95.2%;
  height: 16.1%;
  background-color: rgb(35, 17, 68);
  margin: 1.775%;
  position: fixed;
  bottom:0;
  left: 0;
}

#name {
  position: relative;
  top: 25%;
  left: 43%;
  width: 20%;
  background-color: rgb(205, 131, 240);

}

#img1 {
  position: relative;
  left: 3%;
  width: 14.3%;
  height: 60%;
}

#button1{
  display: inline-block;
  position: relative;
  top: 17.17%;
  left: 2%;
  background-color: rgb(103, 28, 201);
  width: 14.3%;
  height: 66.6%;
  color:  rgb(255, 187, 221);
  border-radius: 12px;
  text-align: center;
  vertical-align: middle;
  line-height: 400%;
  margin-left: 3%;

}

#button1:hover{
  display: inline-block;
  position: relative;
  left: 2%;
  background-color: rgb(255, 187, 221);
  color: rgb(103, 28, 201);
  width: 14.3%;
  height: 66.6%;
  border-radius: 12px;
  text-align: center;
  margin-left: 3%;
  vertical-align: middle;
  line-height: 400%;

}

#imgnwp {
  width: 75%;
  height: 75%;
  position: relative;
  left:12.5%;
  top: 12.5%;
}

#box5 ol {
  background-color: rgb(231, 148, 176);
  padding: 3%;
  margin: 3%;
  height: 90%;
}

#box5 li{
  background-color: rgb(206, 115, 130);
  margin: 5%;
  font-size: 12px;
  text-align: left;
  color:white;
  list-style: inside;
  list-style-type:decimal;
}
#box5 li span{
  background-color:rgb(131, 55, 65);
  color: white;
}
#darker {
  background-color: rgb(90, 7, 7)!important;
}

li:nth-child(even),li:nth-child(even) a{
  background-color:rgb(130, 180, 226);
  list-style-type: none;

}
li:nth-child(odd), li:nth-child(odd) a{
  background-color: rgb(42, 131, 185);
  list-style-type: none;

}

li:target, li:target a{
  background-color: rgb(190, 190, 190);
  text-decoration: line-through;
}

#todo {
  background-color: rgb(205, 131, 240);
  font-weight: bold;
}

ul {
  padding: 3%;
  background-color: rgb(205, 131, 240);
}

ul li:target::before{
  content: "";
  background-image: url("..\\Images\\done.png");
  background-size: 100% 100%;
  display: inline-block;
  height: 20px;
  width: 20px;
}

ul li::before{
  content: "";
  background-image: url("..\\Images\\toDo.png");
  background-size: 100% 100%;
  display: inline-block;
  height: 20px;
  width: 20px;
}

#p1 {
  background-color: rgb(220, 188, 235);
  margin: 5%;
  padding: 3%;
  height: 25%;
  width: 85%;
  display: inline-block;
  position: relative;
  top: 0%;
  border-radius: 12px;


}

#imgnwp2 {
  position: fixed;
  top: 70%;
  right: 7.5%;
  height: 10%;
  width: 10%;
  border-radius: 12px;

}
#button2, #button3 {
  position: relative;
  top: 17.17%;
  left: 2%;
  background-color: rgb(35, 17, 68);
  width: 10.3%;
  height: 30.6%;
  color:  rgb(255, 187, 221);
  border-radius: 12px;
  border-style:solid;
  border-width: thin;
  border-color: black;
  text-align: center;
  vertical-align: middle;
  line-height: 300%;
  margin-left: 3%;
  float: left;
  text-decoration: none;

}
#button3 {
  top: 60%;
  left: -25%;
}

#button2:hover, #button3:hover {
  text-decoration: underline;
}

#icon{
  width: 7%;
  height: 40%;
  position: relative;
  margin: 1%;
  display: inline-block;
  top: 45%;
  right: -10%;
  border-radius: 50%;

}

#icon img{
  filter: grayscale();
  width: 100%;
  height: 100%;
  border-radius: 50%;

}

#icon img:hover{
  filter:none;
}